#dropdown{
    width: 200px;
    height: auto;
    font-size: 12px;
    font-family: 'Segoe UI';
    border: 1px solid #a8a8ab;
    border-radius: 3px;
    outline-style: none;
}
#dropdown:hover{
        outline: none;
		outline-style: none;
		border-color: #719ECE;
		box-shadow: 0 0 10px #719ECE;
}    
